<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="jumbotron" style="text-align: center;">
      <h1 class="display-4">Mission to Mars</h1>
      <a class="btn btn-primary btn-lg" href="/scrape" role="button"
        >Scrape New Data</a
      >
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h4 class="subtitle">Latest Mars News</h4>
          <h5>{{ mars.news_title }}</h5>
          <p>{{ mars.news_p }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h4 class="subtitle">Featured Mars Image</h4>
          <img
            src="{{mars.featured_image_url}}"
            alt="featured mars image"
            style="width:100%;"
          />
        </div>
        <div class="col-md-4">
          <h4 class="subtitle">Current Weather on Mars</h4>
          <p>{{mars.mars_weather}}</p>
          <h4 class="subtitle">Mars Facts</h4>
          {{mars.html_table|safe}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="subtitle">Mars Hemispheres</h4>
        </div>
      </div>
      <div class="row">
        {% for pic in mars.hemi_img_url %}
        <div class="col-md-6">
          <img
            src="{{pic['img_url']}}"
            alt="mars hemispheres"
            style="width:100%"
          />
          <h5>{{pic["title"]}}</h5>
        </div>

        {% endfor %}
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
